/*misc*/
.titulo_paginaprincipal {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: block;
  color: aliceblue;
  line-height: 5rem;
  background: #f2778a;
  background: radial-gradient(circle, #f2778a 0%, #1f1364 100%);
  animation-name: colores;
  animation-duration: 15s;
  animation-delay: 5s;
  padding: 30px;
  margin: 5px; }

@keyframes colores {
  0% {
    background: #9595b4; }
  25% {
    background: #b61616; }
  50% {
    background: #1f1364; }
  75% {
    background: #a1149a; }
  100% {
    background: #b1a538; } }

h1 {
  font-size: 3em; }

/*partials*/
/*views*/
body {
 
  background: url(../img/FondoDebody.jpg); 
  background-size: 100%;

}

.contenido_principal {
  padding: 30px;
  margin: 30px; }

.grid-container {
  display: grid;
  justify-content: stretch;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  padding: 50px; }
  .grid-container div {
    background-color: black;
    border: 1px solid black;
    text-align: center; }

.imagebox, .imagebox img {
  background: black;
  padding: 0px;
  position: relative;
  text-align: center;
  width: 100%; }
  .imagebox img {
    opacity: 1;
    transition: 0.5s opacity; }
  .imagebox .imagebox-desc {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0px;
    color: white;
    font-size: 1.2em;
    left: 0px;
    padding: 10px 15px;
    position: absolute;
    transition: 0.5s padding;
    text-align: center;
    width: 100%; }
  .imagebox:hover img, .imagebox img:hover img {
    opacity: 0.7; }

.imagebox:hover .imagebox-desc, .imagebox img:hover .imagebox-desc {
  padding-bottom: 10%; }

.titulo_paginaprincipal_turnos {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform: uppercase;
  text-shadow: black;
  color: rgba(249, 255, 240, 0.938);
  padding: 50px;
  text-decoration: underline; }

.titulo_profesionales {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform: uppercase;
  text-shadow: black;
  color: rgba(249, 255, 240, 0.938);
  padding: 50px;
  text-decoration: underline; }

.titulo_contacto {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform: uppercase;
  text-shadow: black;
  color: rgba(249, 255, 240, 0.938);
  padding: 50px;
  text-decoration: underline; }
